<html>

<head>
	   <link rel="stylesheet" type="text/css" href="main.css">
<style>
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: green;
}
</style>
 </head>
 <form id="contact">
  <div class="container">
    <div class="head">
      <h1>GENDER IS FEMALE</h1>
    <input type="image" src="C:\Users\vaibhav\Desktop\F.jpg" alt="Submit" width="50%" height="50%" align='centre' >
    <a href='http://127.0.0.1:5000/'><button type="button" class="button">try again</button></a>
</div>
</form>
</html>