{% extends "layout.html" %}
{% block title %}gender-detect{% endblock %}
{% block content %}
<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="inner cover">
            <h1 class="cover-heading" style="font-size: 80px; font-family: Lato !important;"><strong><font color="pink">gender</font></strong>-<strong><font color="blue">predicter</font></strong></h1>
            <p class="lead"> <h3> Enter your first name to predict your gender </font></h3></p>
            <div class="container">
              <div class="row">
                    <div class="col-md-6" style="margin: 0 50px">
                        <div id="custom-search-input">
                            <div class="input-group col-md-12">
                                <form name= "myform" action="/search" method="POST"><input type="text" name="query" class="form-control input-lg" placeholder="Try your name" /></form>
                                <span class="input-group-btn">
                                    <button class="btn btn-info btn-lg" type="button">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
              </div>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}